*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/**nav****/
nav
{
    padding-left: 30px;
    padding-bottom: 30px;
    width: 250px;
    height: 753px;
    background-color: rgb(255, 81, 0);
    color: white;
}
.logo
{
    position: relative;
    height: 250px;
    padding: 0 10px;
    width: 100%;
}
nav h1
{
    position: absolute;
    font-size: 35px;
    top: 125px;
    left: 20px;;
}
nav ul
{
    padding: 20px;
}
nav .list
{
    margin: 10px;
    padding: 10px;
    text-align: left;
}
nav .list a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 100%;
    display: block;
    padding: 10px 5px;
    margin-right: 10px;
}
nav .list a:hover{
    background-color: white;
    color: black;
}
nav .menu i
{
    display: none;
}
nav .menu
{
    background-color: rgb(255, 81, 0);
    border: none;
    color: white;
    width: 100%;
}
@media (max-width:992px) {
    nav 
    {
        position: relative;
        width: 100%;
        height: 50px;
    }
    .logo 
    {
        position: relative;
        height: 30px;
        padding: 0 10px;
        width: 100%;
    }
    nav h1
    {
        position: absolute;
        font-size: 25px;
        top: 10px;
        left: 40px;
        text-align: left;
    }
    nav h1 br 
    {
        display: none;
        margin: 2px;
    }
    nav .menu i
    {
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 30px;
        display: block;
        background-color: rgb(255, 81, 0);
        border: none;
        color: white;
    }
    .show{
        padding: 10px;
    }
    nav .list 
    {
        display: none;
    }
    nav .menu i:active
    {
        top: 0px;
        left: 5px;
        background-color:#ccc;
        color: black;
    }
    nav .menu:focus .list
    {
        display: block;
        background-color: rgb(255, 81, 0);
        color: white;
        position: absolute;
        top: 40px;
        left: 0;
    }
    nav .menu:focus .list a:focus
    {
        background-color: white;
        color: black;
    }
    .show:active
    {
        padding: 10px;
        position: absolute;
        display: inline-block;
        width: 40px;
        background-color:#ccc;
        color: black;
        height: 35px;
        top: 10px;
        left: 10px;
    }
}